<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1 class="text-center my-3">App Piano</h1>
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          style="background-color: red"
          (click)="applySound(1)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: orange"
          (click)="applySound(2)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: yellow"
          (click)="applySound(3)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: teal"
          (click)="applySound(4)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: blue"
          (click)="applySound(5)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: purple"
          (click)="applySound(6)"
        ></a>
        <a
          class="list-group-item list-group-item-action"
          style="background-color: green"
          (click)="applySound(7)"
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- <audio controls>
  <source src="../assets/sounds/note2.wav" />
</audio> -->
