<!-- Portfolio section -->
<section id="tmPortfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="h2 mb-5">Some Projects</h2>

        <div class="tm-portfolio-item">
          <div class="fadein">
            <img
              src="assets/img/woodfordreserveCover.png"
              alt=""
              srcset=""
              class="tm-project-screenshot img-fluid"
            />
          </div>
          <div class="tm-portfolio-description">
            <h3>
              <a
                href="https://www.woodfordreserve.com/"
                class="tm-text-green"
                target="_blank"
                >Woodford Reserve</a
              >
              <span class="tm-title-small"></span>
            </h3>
            <p class="mb-0">
              Nullam a tellus ultricies, ornare purus vel, porttitor massa.
              Aliquam facilisis purus ac eros sollicidudin, in mollis neque
              facilisis. Duis malesuada, mi non elementum malesuada.
            </p>
          </div>
        </div>

        <div class="tm-portfolio-item">
          <div class="fadein">
            <img
              src="assets/img/bulfinchCover.png"
              alt=""
              srcset=""
              class="tm-project-screenshot img-fluid"
            />
          </div>
          <div class="tm-portfolio-description">
            <h3>
              <a
                href="https://www.bulfinch.com/"
                class="tm-text-orange"
                target="_blank"
                >Bulfinch</a
              >
              <span class="tm-title-small"></span>
            </h3>
            <p class="mb-0">
              Phasellus ac nulla egestas, malesuada dolor quis, scelerisque
              arcu. Morbi aliquam, nunc vel blandit mattis, sapien nisl
              convallis sem, quis hendrerit nisl tellus in lectus. Proin at nibh
              bibendum, tincidunt mauris sit amet, porta risus. Integer id
              malesuada ligula.
            </p>
          </div>
        </div>

        <div class="tm-portfolio-item">
          <div class="fadein">
            <img
              src="assets/img/musselmanHotelsCover.png"
              alt=""
              srcset=""
              class="tm-project-screenshot img-fluid"
            />
          </div>
          <div class="tm-portfolio-description">
            <h3>
              <a
                href="https://musselmanhotels.com/"
                class="tm-text-blue"
                target="_blank"
                >Musselman Hotels</a
              >
              <span class="tm-title-small"></span>
            </h3>
            <p class="mb-0">
              Etiam porta est nisl, consectetur dapibus ante faucibus id. Nunc
              ullamcorper a quam eget tincidunt. Proin vehicula mauris ipsum,
              euismod dignissim dolor convallis ac.
            </p>
          </div>
        </div>

        <div class="tm-portfolio-item">
          <div class="fadein">
            <img
              src="assets/img/avidiaBankCover.png"
              alt=""
              srcset=""
              class="tm-project-screenshot img-fluid"
            />
          </div>
          <div class="tm-portfolio-description">
            <h3>
              <a
                href="https://www.avidiabank.com/"
                class="tm-text-dark-gray"
                target="_blank"
                >Avidia Bank</a
              >
              <span class="tm-title-small"></span>
            </h3>
            <p class="mb-0">
              Etiam porta est nisl, consectetur dapibus ante faucibus id. Nunc
              ullamcorper a quam eget tincidunt. Proin vehicula mauris ipsum,
              euismod dignissim dolor convallis ac.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End portfolio section -->
