<div class="jumbotron" style="position: relative">
  <div class="text-center border rounded bg-white opacity-25">
    <h1 class="display-4 text-black">Julian Mercado</h1>
    <h3>Software Engineer</h3>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="#" target="_blank">
      <img
        src="../../../assets/images/linkedIn_logo.webp"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="../../../assets/images/facebook_logo.png"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="../../../assets/images/github_logo.png"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
  </div>
</div>
