.jumbotron {
  background-image: url("../../../assets/images/background_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 1rem;
  background-color: #e9ecef;
  color: black;
}
