.bg-item {
  background-color: #5d5d81;
  height: 530px;
  border: 1px solid #b14aed;
  border-radius: 20px;
  color: #e0ffff;
}

.btn-color {
  background-color: #5d5d81;
  color: #e0ffff;
  border-color: #5d5d81;
  border-radius: 25px;
  width: 100%;
}

.btn-color:hover {
  background-color: #b14aed;
  color: #e0ffff;
  border-color: #b14aed;
}

.result-title,
.result-quantity,
.result-advice {
  padding: 30px;
}

.result-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.result-quantity {
  font-size: 5rem;
  font-weight: 600;
}

.result-advice {
  font-size: 20px;
}
