<div class="container">
  <div class="text-center text-uppercase nerko-one-regular">
    Appointment App
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-create-appointment
        (newAppointment)="addAppointment($event)"
      ></app-create-appointment>
    </div>
    <div class="col-lg-6">
      <app-appointment-list
        [allAppointments]="appointmentList"
        (removeAppointment)="eliminateAppointment($event)"
      ></app-appointment-list>
    </div>
  </div>
</div>
